<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="langbry" type="Langbry.Config.LangbrySectionHandler, Langbry" />
  </configSections>
  <langbry>
    <!--
    유저 개별세션에 저장되는 언어타입명
    > 태그 생략시 value 기본값은 SESSION_LANGUAGE_TYPE 이다.
    -->
    <!--<SessionLanguageType value="SESSION_LANGUAGE_TYPE" />-->
    <!--
    번역파일경로(json)
    > 태그 생략할 경우 기본파일명은 "langbry_data.json"이고, 저장위치는 응용프로그램 바로 아래이다
    > ex) C:\inetpub\MyWebApplication\langbry_data.json
    -->
    <!--<TranslationJsonFilePath value="C:\work\svn\repos-infradev\trunk\Library\Langbry\WebTest\lang_data.json" />-->
    <!--
    브라우저 스크립트 사용여부
    > enable 기본값은 true 이다.
    > 사용하지 않을 경우 뷰(html)에서 태그를 사용하여 언어번역이 불가능하다.
    -->
    <!--<View enable="true">-->
    <!--
        스크립트 저장 파일 경로(js)
        > 태그 생략할 경우 기본파일명은 "langbry_app.js"이고, 저장위치는 응용프로그램 바로 아래이다
        > ex) C:\inetpub\MyWebApplication\langbry_app.js
        -->
    <!--<JavascriptLanguageFileName value="C:\work\svn\repos-infradev\trunk\Library\Langbry\WebTest\net4.0\script\lang.js" />-->
    <!--
        스크립트에 적용되는 번역내용 객체이름
        > 태그 생략시 value 기본값은 _langbry_data 이다.
        -->
    <!--<JavascriptLanguageDataObjectName value="_langData" />-->
    <!--
        html 작성을 위한 tag name
        > 태그 생략시 value 기본값은 langbry 이다.
        -->
    <!--<HtmlTagName value="xl-lang" />-->
    <!--
      브라우저 언어타입 쿠키이름
      > 태그 생략시 value="langbry_language_code" expireday="2" domain=""
      > value : 쿠키명
      > expireday : 만료유지일 (기본값 2)
      > domain : 도메인 (기본값 공백 - 기본호스트로 도메인처리)
      -->
    <!--<BrowserCookieLanguageCodeName value="language_code" expireday="2" domain="" />-->
    <!--</View>-->
    <!--
    적용된 언어리스트 캐시명
    > 태그 생략시 value 기본값은 APPLIED_LANGUAGELIST_CACHE 이다.
    -->
    <!--<AppliedLanguageListCachePrefixName value="USER_LANGUAGELIST" />-->
    <!--
    언어변경파일 적용간격시간
    > 단위(ms) 1초=1000
    > 태그 생략시 value 기본값은 3000 이다.
    -->
    <!--<ApplyLanguageFileUpdateTime value="3000" />-->
  </langbry>

  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="LanguageModule" type="Langbry.LanguageModule, Langbry" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>